#logoImagemDesktop{
  display: none;
}

#logoImagemMobile{  
    border-radius: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;
}

#bordaCadastro{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  border-radius: 5%;
  width: 100%;
  height: 500px;
  padding-bottom: 10%;
}

.texto{
  color:#EB5F07;
  font-weight: bold;
  align-items: center;
  margin-left: 10px;
}

.caixaTextos{
  display: flex;
  flex-direction: column;
}

.inputs{
  display: flex;
  justify-content: center;
  border-radius:7px;
  padding: 10px;
  width: 100%;
  border-style: solid;
  border-color: #3A7B50;
}

.cadastrar{
    background:#EB5F07;
    border-radius: 7px;
    border-style: none;
    margin: 15px;
    padding: 7px;
    width: 120px;
    margin-left: 18%;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/*       DESKTOP     */
@media screen and (min-width: 1024px) {
  #logoImagemMobile {
    display: none;
}

#logoImagemDesktop {
    display: flex;
}

#bordaCadastro{
    margin: 8% 15%;
    border-radius: 30px;
    width: 70%;
    height: 400px;
    padding-top: 150px;
}

  .verticalCadastro{
    border-left: 2px solid #3A7B50;
    height: 500px;
    margin-left: -300px;
  } 

.texto{
 margin-left: -200px;
}

.inputs{ 
  padding: 12px;
  width: 350px;
  margin-left: -200px;
}

.cadastrar{
  padding: 10px;
  width: 150px;  
  font-size: 20px; 
  margin-left: -100px;
}
}