* {
    margin: 0;
    padding: 0;
}

#logoPgHome{
    display: none;
}

.bordaCadastroHome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    border-radius: 5%;
    width: 100%;
    height: 400px;
    padding-bottom: 10%;
}
/*     
    header{
        background-color: #F7C097;
        height: 10vh;
 display: flex;
    }      
      */
    
    
#voltar{
     color: white;
     font-size: 13pt;
     
}
    .logout{
    color: white;
    font-size: 17px;
    padding: 10px;
    
} 
    
#bolinha{
    background-color: #3A7B50;
    width: 40px;
    border-radius: 150px;
    padding: 5px;
    margin: 8px;
    cursor: pointer;
}   

#logoTexto{
   margin-top: -80px;
   margin-left: -80px;
}

#nomeUsuario{
    color: #3A7B50;
    margin-left: -45%;
    padding: 15px;
}

#areaTexto{
    margin-left: -20%;
    width: 70%;
    height: 100px;
    border-radius: 7px;
    border: 2px solid #5E6697;
    font-size: 13pt;  
    margin-bottom: 20px; 
}    

#posts{
    background-color: #3A7B50;
    color: white;
    padding: 7px;
    width: 150px;
    border-radius: 9px;
    border-style: none;
    margin-left: -20%;
    font-size: 15pt;
    cursor: pointer;
}

#post-area{
    width: 55%;
    height: 40px;   
}



/*       DESKTOP     */
@media screen and (min-width: 1024px) {
     #logoTexto{
        display: none;
    }
    
    #logoPgHome{
    display: flex;   
    width: 30%;
    margin-top: -10px;
    }
    
    #areaTexto{
        margin-left: -6%;
        margin-top: -50px;
        width: 60%;
        height: 100px;
        
    }
   
    #nomeUsuario{
        margin-top: 280px;
        
    }
  
    #posts{
      margin-left: -5%;
    }
}